<div class="container">
  <h2>Plan your day!</h2>
  <h3>User: Ivan Ivanov. Count of Task <span>{{ tasks.length }}</span></h3>
  <hr>
  <div class="d-flex justify-content-center">
    <input
      type="text"
      class="form-control password"
      id="floatingPassword"
      [(ngModel)]="taskInput"
    >
    <div *ngIf="error" class="text-danger">
      Заповніть поле!
    </div>
    <button type="button" class="btn btn-success" (click)="addUser()" style="width: 150px">Add</button>
  </div>
</div>
<app-tasklist [tasks]="tasks"></app-tasklist>
